<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="dashboard" >
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="employees">
        <i class="bi bi-menu-button-wide"></i><span>Employees</span>
      </a>
      </li>
    <!-- End Blank Page Nav -->

    <li class="nav-item">
      <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="Project">
        <i class="bi bi-menu-button-wide"></i><span>Project</span>
      </a>
      </li>
      <!-- End Blank Page Nav -->
      <!-- <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="projectmodules">
          <i class="bi bi-menu-button-wide"></i><span>ProjectModule</span>
        </a>
        </li> -->
         <!-- End Blank Page Nav -->
      <!-- <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="projecttask">
          <i class="bi bi-menu-button-wide"></i><span>ProjectTask</span>
        </a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="mytask">
            <i class="bi bi-menu-button-wide"></i><span>MyTask</span>
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="workreport">
              <i class="bi bi-menu-button-wide"></i><span>WorkReport</span>
            </a>
            </li>
  


  </ul>

</aside><!-- End Sidebar-->
